body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../images/palworld.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header, section, article, form {
  margin: 20px;
}

h1, h2 {
  color: #333;
}

/* Form Container Styles */
.form-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Media queries for larger screens */
@media screen and (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}
